<app-header></app-header>
<div class="bg-indigo-800 flex-auto mx-48 pb-20 pt-10 rounded-b-2xl grid place-items-center">
  <app-card
    title="Sobre mí"
    description="Soy Nicolás Tapia Carrasco, soy de la ciudad de Antofagasta y estudio en la Universidad Católica
    del Norte. Me interesan las áreas de la Ciberseguridad como también el desarrollo de Software
    debido a que disfruto mi tiempo en el computador y me apasiona el conocer como funciona la
    por detrás la tecnología y aplicaciones que utilizamos a diario."
    ></app-card>
    <app-card
    title="Rol Profesional"
    description="Estoy cursando un Minor en Ciberseguridad y poseo la certificación de Certified in Cibersecurity
    de la ISC2. Esto con el objetivo de poder desarrollarme más dentro del área de la ciberseguridad.
    También tengo conocimientos en desarrollo de aplicaciones web y móviles, como también de
    APIs."
    ></app-card>
    <app-card
    title="Habilidades Técnicas"
    [items]="['.NET Core', 'Angular', 'Ionic', 'Node.js', 'Python', 'Office', 'Power BI', 'Nmap', 'Wireshark']"
    ></app-card>
    <app-card
    title="Habilidades Blandas"
    [items]="['Comunicación Efectiva', 'Resolución de problemas', 'Trabajo en equipo', 'Curiosidad e Iniciativa', 'Adaptabilidad', 'Ética Profesional', 'Habilidad para manejar estrés', 'Resiliencia']"
    ></app-card>
    <app-card
    title="Proyectos Destacados"
    proyectName="Cliente Móvil de Aplicación de Música"
    proyectRole="Diseñador y Programador"
    proyectLink="https://github.com/Benjh4dev/CLIENT-MOVIL-Audioflow"
    ></app-card>
</div>

