<header class="bg-indigo-400 h-48 w-full flex items-center">
  <div class="flex item-center">
    <img src="assets/images/Foto.jpeg" alt="Foto" class="w-32 h-32 rounded-full object-cover ml-28">
  </div>
  <div class="ml-8 text-white mt-8">
    <h1 class="text-2xl font-bold mb-3">Nicolás Tapia Carrasco</h1>
    <p class="text-lg">Estudiante de Ingeniería Civil en Computación e Informática</p>
    <div class="mt-4">
      <a href="https://www.linkedin.com/in/nicol%C3%A1s-tapia-carrasco-a63a72289/" class="text-white hover:underline">
        <button type="button" class="text-white bg-indigo-800 hover:bg-indigo-900 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Linkedin</button>
      </a>
      <a href="https://github.com/Kishin0510" class="text-white hover:underline">
        <button type="button" class="text-white bg-indigo-800 hover:bg-indigo-900 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">GitHub</button>
      </a>
    </div>
  </div>
</header>
